<section class="section-1">
  <div class="section-1-bg bg"></div>
  <div class="section-1-title-container">
    <div class="section-1-title-photo">
      <img
        class="section-1-title-img"
        src="assets\images\introPhoto.jpg"
        height="450"
      />
    </div>
    <h1 class="section-1-greeting-text">Hello, I'm James</h1>
    <div class="section-1-skillset-container">
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Angular_full_color_logo.svg"
          title="Angular"
          alt="Angular logo"
          width="50"
          height="50"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\TypeScript logo.svg"
          title="Typescript"
          alt="Typescript logo"
          width="50"
          height="50"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Javascript_Logo.png"
          title="JavaScript"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\HTML5 Logo Badge.svg"
          title="HTML 5"
          class="section-1-skillset-logo"
          alt="HTML5 Logo"
          width="50"
          height="50"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\CSS3_logo.svg"
          title="CSS 3"
          alt="CSS3 Logo"
          width="50"
          height="50"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Sass_Logo_Color.svg"
          title="Sass"
          alt="Sass Logo"
          width="50"
          height="50"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\firebase_logo.png"
          title="Firebase"
          alt="Firebase Logo"
          height="50"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\new-logo-1.png"
          title="AG Grid"
          alt="AG Grid Logo"
          height="50"
        />
      </div>
    </div>
  </div>
</section>

<section [attr.id]="'about'">
  <div class="bg section-2-bg"></div>
  <div class="section-2-container">
    <!-- <div
      Class="
        section-2-nav
        section-2-container
      "
    >
      <button
        (click)="sectionTwoButtonClick('past')"
        class="section-2-nav-button"
        mat-raised-button
        color="accent"
      >
        WHERE I'M FROM
      </button>
      <button
        (click)="sectionTwoButtonClick('present')"
        class="section-2-nav-button"
        mat-raised-button
        color="accent"
      >
        WHERE I AM
      </button>
      <button
        (click)="sectionTwoButtonClick('future')"
        class="section-2-nav-button"
        mat-raised-button
        color="accent"
      >
        WHERE I'M GOING
      </button>
    </div> -->
    <mat-card class="section-2-article">
      <!-- [ngClass]="{
      'section-2-article-off': sectionTwoNav === '',
      'section-2-article': true
    }" -->
      <!-- <article *ngIf="sectionTwoNav === 'past'">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </article> -->
      <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </article>
      <!-- <article *ngIf="sectionTwoNav === 'future'">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </article> -->
    </mat-card>
  </div>
</section>

<section [attr.id]="'portfolio'">
  <div class="bg"></div>
  <div class="section-3-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Angular-Kanban </mat-card-title>
      </mat-card-header>
      <mat-card-content class="section-3-card-content">
        <a
          (click)="goToLink('https://angular-kanban.jamestarnold.dev')"
          class="section-3-project-link"
        >
          <img
            width="275"
            height="107"
            src="../../assets/images/projects/angular-kanban.jpg"
          />
        </a>
        <article style="text-align: center">
          A simple Project Management app <br />
          created with Angular and a Firebase.
        </article>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://github.com/JamesTArnold/Angular-kanban')"
        >
          GITHUB
        </button>
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://angular-kanban.jamestarnold.dev')"
        >
          APP
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title> React-Todo </mat-card-title>
      </mat-card-header>
      <mat-card-content class="section-3-card-content">
        <a
          class="section-3-project-link"
          (click)="goToLink('https://react-todo.jamestarnold.dev')"
        >
          <img width="200" src="../../assets/images/projects/react-todo.jpg" />
        </a>
        <article>A task app created with react.</article>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://github.com/JamesTArnold/react-todo')"
        >
          GITHUB
        </button>
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://react-todo.jamestarnold.dev')"
        >
          APP
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title> Vue-Todo </mat-card-title>
      </mat-card-header>
      <mat-card-content class="section-3-card-content">
        <a
          class="section-3-project-link"
          (click)="goToLink('https://vue-todo.jamestarnold.dev')"
        >
          <img width="200" src="../../assets/images/projects/vue-todo.png" />
        </a>
        <article>A task app created with vue.</article>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://github.com/JamesTArnold/vue-todo')"
        >
          GITHUB
        </button>
        <button
          mat-flat-button
          class="section-3-project-link"
          (click)="goToLink('https://vue-todo.jamestarnold.dev')"
        >
          APP
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

<section [attr.id]="'contact'" #contact>
  <div class="bg"></div>
  <div class="section-4-container">
    <mat-card class="section-4-card">
      <mat-card-title
        style="
          display: flex;
          align-items: center;
          justify-content: space-around;
        "
        ><img width="310" src="../../assets/images/contactMePhoto.jpg" />
      </mat-card-title>
      <mat-card-content>
        <button mat-flat-button>
          <a
            href="mailto:james@jamestarnold.dev"
            style="text-decoration: none; color: white"
          >
            james@jamestarnold.dev
          </a>
        </button>
        <button
          mat-flat-button
          (click)="goToLink('https://github.com/JamesTArnold')"
        >
          GITHUB
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<nav class="nav-container">
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#about')"
  >
    ABOUT
  </button>
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#portfolio')"
  >
    PORTFOLIO
  </button>
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#contact')"
  >
    CONTACT
  </button>
</nav>
