<section class="section-1">
  <div class="section-1-bg bg"></div>
  <div>
    <h1 class="section-1-greeting-text">Hello, I'm James</h1>
    <div class="section-1-icon-roll">
      <img
        src="assets\images\logos\Angular_full_color_logo.svg"
        title="Home"
        alt="Home"
        class="ng-star-inserted"
        width="200"
        height="200"
      />
      <img
        src="assets\images\logos\firebase_logo.png"
        title="Home"
        alt="Home"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\CSS3_logo.svg"
        title="Home"
        alt="Home"
        width="200"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\HTML5 Logo Badge.svg"
        title="Home"
        alt="Home"
        width="200"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\Javascript_Logo.png"
        title="Home"
        alt="Home"
        width="200"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\TypeScript logo.svg"
        title="Home"
        alt="Home"
        width="200"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\Sass_Logo_Color.svg"
        title="Home"
        alt="Home"
        width="200"
        height="200"
        class="ng-star-inserted"
      />
      <img
        src="assets\images\logos\new-logo-1.png"
        title="Home"
        alt="Home"
        class="ng-star-inserted"
      />
    </div>
  </div>
</section>
<section>
  <div class="bg section-2-bg"></div>
  <h1>GREAT THAT IT'S WORKING</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>SCROLL MORE TO SEE MORE</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>LOVING THE IMAGES</h1>
</section>
<section>
  <div class="bg"></div>
  <h1>NICE, RIGHT?</h1>
</section>
