<section class="section-1">
  <div class="section-1-bg bg"></div>
  <div class="section-1-title-container">
    <div class="section-1-title-photo">
      <img
        src="assets\images\placeholder.jpg"
        title="Firebase"
        alt="Firebase Logo"
        height="50"
        class="ng-star-inserted"
      />
    </div>
    <h1 class="section-1-greeting-text">Hello, I'm James</h1>
    <div class="section-1-skillset-container">
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Angular_full_color_logo.svg"
          title="Angular"
          alt="Angular logo"
          class="ng-star-inserted"
          width="50"
          height="50"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\TypeScript logo.svg"
          title="Typescript"
          alt="Typescript logo"
          width="50"
          height="50"
          class="ng-star-inserted"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Javascript_Logo.png"
          title="JavaScript"
          alt="JavaScript Logo"
          width="50"
          height="50"
          class="ng-star-inserted"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\HTML5 Logo Badge.svg"
          title="HTML 5"
          class="section-1-skillset-logo"
          alt="HTML5 Logo"
          width="50"
          height="50"
          class="ng-star-inserted"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\CSS3_logo.svg"
          title="CSS 3"
          alt="CSS3 Logo"
          width="50"
          height="50"
          class="ng-star-inserted"
        />
      </div>

      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\Sass_Logo_Color.svg"
          title="Sass"
          alt="Sass Logo"
          width="50"
          height="50"
          class="ng-star-inserted"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\firebase_logo.png"
          title="Firebase"
          alt="Firebase Logo"
          height="50"
          class="ng-star-inserted"
        />
      </div>
      <div class="section-1-skillset-logo">
        <img
          src="assets\images\logos\new-logo-1.png"
          title="AG Grid"
          alt="AG Grid Logo"
          height="50"
          class="ng-star-inserted"
        />
      </div>
    </div>
  </div>
</section>

<section [attr.id]="'about'">
  <div class="bg section-2-bg"></div>
  <h1>GREAT THAT IT'S WORKING</h1>
</section>

<section [attr.id]="'portfolio'">
  <div class="bg"></div>
  <h1>SCROLL MORE TO SEE MORE</h1>
</section>

<section [attr.id]="'contact'" #contact>
  <div class="bg"></div>
  <h1>LOVING THE IMAGES</h1>
</section>

<nav class="nav-container">
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#about')"
  >
    ABOUT
  </button>
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#portfolio')"
  >
    PORTFOLIO
  </button>
  <button
    class="nav-button"
    color="primary"
    mat-raised-button
    (click)="navButtonClicked('#contact')"
  >
    CONTACT
  </button>
</nav>
